html{
    background-color: black;
    color: white;
}

#meme{
    text-align: center;
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
}

#cave-guy{
    border: 5px solid white;
    width: 100%;
    height: 300px;
}

#top-text{
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

#bottom-text{
    font-size: larger;
}
