html{
    background-color: black;
    color: white;
}

#meme{
    text-align: center;
    width: 600px;
    margin: auto;
}

#cave-guy{
    border: 5px solid white;
    width: 100%;
}

#top-text{
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
}

#bottom-text{
    font-size: larger;
}
